# Pengenalan Pandas

Oleh Afif Akbar Iskandar

In [ ]:
# Render our plots inline
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

plt.style.use('default')
plt.rcParams['figure.figsize'] = (15, 5)

## Membaca CSV

Kita dapat membaca file berformat CSV dengan fungsi `read_csv`. Secara default diasumsikan dipisahkan oleh koma.

Berikut adalah cara membaca CSV menggunakan Pandas

In [ ]:
data_frame = pd.read_csv('data/train.csv',index_col='PassengerId')

In [ ]:
data_frame[:3]

## Memilih Kolom

Untuk memilih kolom, panggil `data_frame['nama_kolom']`

In [ ]:
data_frame['Fare']

## Menggambar plot pada kolom

hanya menambahkan `.plot()` pada akhir `data_frame`

In [ ]:
data_frame['Fare'].plot()

In [ ]:
data_frame.plot()

## Memilih Kolom dan Baris

Memilih kolom dengan 5 data teratas

In [ ]:
data_frame['Fare'][:5]

Multiple Columns

In [ ]:
data_frame[['Fare','Pclass']][:5]

Melihat jumlah penumpang pada tiap-tiap kelas

In [ ]:
data_frame['Pclass'].value_counts()

In [ ]:
jumlah_per_kelas = data_frame['Pclass'].value_counts()
jumlah_per_kelas.plot(kind='bar')